@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;

    --dark: #1f0000; /* dark brown */
    --medium: #835c3b; /* medium brown */
    --light: #ffebcd; /* light - blanched almond */


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid var(--black);*/
}

html {
    font-size: 16px;
}

body {
    /*margin: 50px 50px;*/
    margin: 0 auto;
    background-color: var(--dark);
    font-family: Poppins, sans-serif;
    max-width: 50%;
}

.container-main {
    background-color: var(--medium);
    border: 5px solid var(--black);
    margin-top: 25px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: Chewy, sans-serif;
    color: var(--black);
}

/* BEGIN ROAST SELECTION */
.coffee-roast {
    /*background-color: */
}

.form-select-roast {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 20px;*/
    margin-bottom: 5px;
}

.form-select-option {
    /*background-color: var(--medium);*/
}

.form-select-button {
    background-color: var(--medium);
    height: 50px;
    margin-left: 5px;
}

.form-select-roast {
    /*border: 3px solid red;*/
    /*background-color: var(--medium);*/
}

.form-select-box {
    border: 3px solid var(--dark);
    width: 80%;
}

.form-select-drop {
    /*background-color: var(--medium);*/
}

.form-select-button {
    display: none;
}

/* END ROAST SELECTION */

/* BEGIN SEARCH BAR */
.form-search {
    display: flex;
    justify-content: center;

}

.form-search-bar {
    border: 3px solid var(--dark);
    width: 80%;
}

/* END SEARCH BAR */

/* BEGIN COFFEE DISPLAY */
.coffee-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.coffee-name {
    font-size: 1.1rem;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    color: var(--black);
}

.coffee-roast {
    position: relative;
    display: flex;
    justify-content: center;

    font-size: .8rem;
    margin-top: -12px;
    margin-left: 35px;
    color: var(--light);
    font-family: Chewy, Poppins, sans-serif;
}

/* END COFFEE DISPLAY


/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {

    h1 {
        font-size: 4rem;
    }

    .coffee-name {
        font-size: 1.5rem;
        color: var(--black);
    }


    .coffee-roast {
        font-size: 1rem;
        margin-top: -16px;
        color: var(--light);
    }
}

/* medium and up */
@media only screen and (min-width: 768px) {
    .form-select-box {
        width: 45%;
    }

    .form-search-bar {

        width: 45%;
    }
}
