/* @import url('https://fonts.googleapis.com/'); */
/* https://fonts.google.com/ */

:root {
    --white: #FFFFFF;
    --black: #000000;

    --dark: #1f0000; /* dark brown */
    --medium: #835c3b; /* medium brown */
    --light: #ffebcd; /* light - blanched almond */


}

/* BEGIN DEV PROPERTIES */
* {
    /*border: 1px solid var(--black);*/
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 60px 50px;
    background-color: var(--dark);
}

.container-main {
    background-color: var(--medium);
}

/* returnreturn - probably remove */
.container-sub {
    /*background-color: var(--light);*/
}

h1 {
    font-size: 4rem;
    text-align: center;
}

/* BEGIN ROAST SELECTION */
.coffee-roast {

   /*background-color: */
}

.form-select-roast {
            display: flex;
justify-content: center;
    align-items: center;
    /*background-color: var(--medium);*/
    margin: 20px;
}

.form-select-option {

    /*background-color: var(--medium);*/

}

.form-select-button {

    background-color: var(--medium);
    height: 50px;
    margin-left: 5px;
}

.form-select-roast {
     /*border: 3px solid red;*/
    /*background-color: var(--medium);*/
}

.form-select-box {
    border: 3px solid var(--dark);
}

.form-select-drop {
    background-color: var(--medium);
}
/* END ROAST SELECTION */

/* BEGIN SEARCH BAR */
.form-search {
    display: flex;
    justify-content: center;
}
.form-search-bar {
/*background-color: var(--medium);*/
    margin: 20px;
    /*background-color: black*/
    border: 3px solid var(--dark);
}
/* END SEARCH BAR */

/* BEGIN COFFEE DISPLAY */
.coffee-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*background-color: black;*/
}

.coffee-name {

}

.coffee-roast {
    display: flex;
    justify-content: end;

    color: var(--light);
}

/* END COFFEE DISPLAY

.centered {
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
/*}*/

/* BEGIN GRID BORDERS */
.container-dev {
    /*border: solid 1px green;*/
}

.row-dev {
    /*border: solid 3px red;*/
}

.col-dev {
    /*border: dotted 3px blue;*/
}

/* END GRID BORDERS */
/* END DEV PROPERTIES */




/* extra small and down - phones */
@media only screen and (max-width: 600px) {
    /*#coffees {*/
    /*    border: red 2px solid;*/
    /*}*/
}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {

}

/* medium and up */
@media only screen and (min-width: 768px) {

}

/* large and up */
@media only screen and (min-width: 992px) {

}